@{
    ViewBag.Title = "Home Page";
}

@*<h4>Polls</h4>*@


@*<head>
        <meta name="viewport" content="width=device-width" />
        <title>WePoll</title>
        <link rel="Stylesheet" href="../../Content/demo.css" />
    </head>*@

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/image1.jpg" style="width:100%" alt="Image 1">
            <div class="carousel-caption">
                <a>..Take a Poll</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/image2.png" style="width:100%" alt="Image 2">
            <div class="carousel-caption">
                <a>..Here's your Response</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/image3.jpg" style="width:100%" alt="Image 3">
            <div class="carousel-caption">
                <a>..Make your Decision!</a>
            </div>
        </div>
    </div> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to WePoll</h2>
        <p>WePoll is an ultimately staright-forward polling application not open for discussion.<br><br> WePoll brings efficiency to polling with yes or no questions.<br><br> WePoll will force your friends to get to the point. <br><br>No more dealing with indecision on group messages. Avoid mindless back and forth in group texts. Ask and get the immediate/relevant answers you need wherever you are! <br><br>Just ask simple questions and receive YES or NO answers!<br><br></p>
    </div>
    <div class="col-md-4">
        <h2>How to Use</h2>
        <p>To get instant poll results, register/login then follow the prompts to find out what people think!</p>
        <p><a class="btn btn-default"href="">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the application from the Code Gallery.</p>
        <p><a class="btn btn-default" href="">Download &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h5>What Say You?…A Simple Yes or No Will Do.</h5>
    </div>
</div>

<div class="container-fluid">

    @if (TempData["message"] !=null)
    {
        <div style="margin-top:10px;"
             class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">x</span></button>
        </div> 
    }

    
    @*<div class="row">
        <div class="col-md-8">
            <h4>Options</h4>
            <hr />
            <div class="row">
                @foreach (var option in )
            </div>
        </div>
    </div>*@
    


</div>


@*<div id="votecontainer">

    <a href="@Url.Action("yesVote","vote")" class="btn btn-primary">
        <i class="btn btn-success"></i>Yes
    </a>
    <a href="@Url.Action("noVote","vote")" class="btn btn-primary">
        <i class="btn btn-danger"></i>No
    </a>
</div>*@

